  h1 {
    margin-top: 200px;
    text-align: left;
    color: red;
    }
    
  input {
    border-radius: 30px;
    border: 2px solid black ;
    padding: 20px; 
    width: 400px;
    height: 15px;
    }

  .Workspace{
    margin-top: 40px;
    text-align: left;
    }

  .Buttons{
    margin-top: 40px;
    text-align: left;
    }

  .logo{
    image-resolution: auto;
    width:20px ;
    height:5px ;
    }

  @media screen and (min-width: 1080px){
    h1 {
      margin-top:100px;
      text-align: center;
      color: red;
      }
    
    .Workspace{
      margin-top: 40px;
      text-align: center;
      }   
    .Buttons{
        text-align: center;
        }
    }